<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Art Space</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrapTheme.min.css">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body class="flex-column min-100-vh">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <a class="nav-link" href="/Homepage">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/gallery">Gallery </a> 
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" id="logout-link">Logout </a>
      </li>
    </ul>
    </div>
  </nav>
  <header class="hero">
    <div class="jumbotron jumbotron-fluid bg-primary text-white">
      <div class="container">
        <h1 class="display-4">The Art Space</h1>
        <p class="lead">An art blog and virtual exhibit for local artists to display their work and for lovers of art to to connect to the artists, like, buy, collaborate.</p>
      </div>
    </div>
    <h1 class="app-title"><a href="/"></a></h1>
  </header>
  <main class="col-auto">
    {{{body}}}
  </main>

  <footer class="flex-row justify-center">
    &copy; The Art Space
  </footer>
</body>

</html>
<script src="/"></script>

{{!-- <h2>Liste of my most loved League champions</h2>
<ul>
  <li class="midlaner">Leblanc</li>
  <li class="midlaner">Lux</li>
  <li class="toplaner">Teemo</li>
  <li class="midlaner">Kassadin</li>
  <li class="toplaner">Jarvan IV</li>
</ul> --}}